.app{
  background-image: url("https://img.freepik.com/free-vector/smooth-golden-wave-background_23-2148820682.jpg?w=740&t=st=1698196403~exp=1698197003~hmac=efda3147b6591ebbae28e5722cd6964493edf90ecdb6df487d8fc4a4ce342da1");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
